<%- include ("partials/header") -%> 

<div class="container d-flex flex-column">
    
    <h1 class="error-code"><%= errorCode %> </h1>
    <p><%= message %> </p>
    <a href="/"><button class="btn btn-danger">Try Again!</button></a>
    
</div>



<%- include ("partials/footer") -%> 